.profile-user{
    display: flex;
    justify-content: center;
}
.profile-header{    
    font-size: 50px;
    font-weight: 600;
    text-align: center;    
    margin-bottom: 0px;
}

.profile-header-mini{
    font-size: 20px;
    text-align: center;
}
.image-user{
    width: 150px;background-color: rgb(91, 198, 225);
    height: auto;
    padding-top: 8px;
}
.profile-title{
    padding-left: 20px;
}
.profile-name{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-number{
    font-size: 20px;
}
.profile-email{
    font-size: 20px;

}