/* *{
    margin: 0px;
    font-family: "Helvetica Neue", sans-serif;
} */
.backchome-products{
    background-color: #4bb6fa;
    padding: 5px;
}
.backhome{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.backhome:hover{
    color: #135882;
    
} 
.admin-product_header{
    font-size: 70px;
    text-align: center;
    padding: 25px 0px;
}
.admin-product_btn-add{
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: #4bb6fa;
    color: white;
    padding: 10px;  
    cursor: pointer;
    margin-left: 14px;
    margin-bottom: 10px;                                     
}
.admin-product_btn-add:hover{
    background-color: white;
    color: #4bb6fa;
    border: 1px solid #4bb6fa;
}
.admin-product_body{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-column-gap: 2%;
    grid-row-gap:20px;
    justify-items: center;
}
.admin-product_main{    
    width: 270px;
    box-shadow: 5px 5px 5px 1px rgb(109, 110, 111);
}
.admin-product_img{
    width: 270px;
}
.admin-product_name{
    font-size: 25px;
    font-weight: 600;    
}
.admin-product_price{
    font-size: 20px;
    font-weight: 600;
}
.admin-product_description{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.admin-product_btn-edit{
    display: flex;
    justify-content: space-between;
}
.admin-product_btn{
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: white;
    color: #4bb6fa;
    padding: 2px;  
    cursor: pointer; 
    margin: 2px;
}
.admin-product_btn:hover{
    background-color: #4bb6fa;
    color: white;
    border: 1px solid #4bb6fa;
}  