.backchome-products
    a.backhome(href='/dpql-ecommerce/client/web/admin-pannel/page/pannel.html') Quay l&#x1EA1;i trang ch&#x1EE7;
.admin-product_header
    p All Product
    a(href='./add-product/add.html')
    button.admin-product_btn-add Th&ecirc;m s&#x1EA3;n ph&#x1EA9;m m&#x1EDB;i
.admin-product_body
    .admin-product_main
        img.admin-product_img(src='https://product.hstatic.net/200000259629/product/_stu7866-compressed_180b72bf74fa45f6a61ac521308c9f7d_master.jpg' alt='áo đẹp')
        .admin-product_content
        p.admin-product_name INDENTIFY SWEATER #Pink
        p.admin-product_price 189000&dstrok;
        p.admin-product_description
            | M&ocirc; t&#x1EA3;: &Dstrok;&acirc;y l&agrave; &aacute;o sweater &dstrok;&#x1EB9;phdscbkbchvjhdsbvcjhsbcjks
            | nvuiwefuyhebghjve
        .admin-product_btn-edit
        a(href='./edit-product/edit.html')
            button.admin-product_btn Edit
        a(href='#')
            button.admin-product_btn Delete
    .admin-product_main
        img.admin-product_img(src='https://product.hstatic.net/200000259629/product/_stu7866-compressed_180b72bf74fa45f6a61ac521308c9f7d_master.jpg' alt='áo đẹp')
        .admin-product_content
        p.admin-product_name INDENTIFY SWEATER #Pink
        p.admin-product_price 189000&dstrok;
        p.admin-product_description
            | M&ocirc; t&#x1EA3;: &Dstrok;&acirc;y l&agrave; &aacute;o sweater &dstrok;&#x1EB9;phdscbkbchvjhdsbvcjhsbcjks
            | nvuiwefuyhebghjve
        .admin-product_btn-edit
        a(href='./edit-product/edit.html')
            button.admin-product_btn Edit
        a(href='#')
            button.admin-product_btn Delete
